/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Apr-2015, 19:41:40
    Author     : Victor
*/
 
   
   /* navbar text style*/
   .navbar-text > a { 
   		color:inherit;
		text-decoration:none;
   }
  .mainTitle { 
  	color:#e91e63;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:400%;
	font-weight:bold;
	
	/*text-shadow: black 0.1em 0.1em 0.3em;*/
  }
  .mainSubtitle {
	  	font-family: 'Open Sans Condensed', sans-serif;
		color:#FFFFFF;
		font-size:100%;
	 }
  
  h1, h2, h3, h4, h5, h6 { 
  	font-weight:bold;
	font-family: 'Open Sans', sans-serif;  
}
  p, li {
	font-family: 'Open Sans', sans-serif;	
}



.video-top { 

margin-top:-20px;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
height: auto;
width:100%;

}



.overlay-text {
    position:absolute;
    top:0;
    left:0;
	height:100%;
	width:100%;
    z-index:1;
	/*background-color:#616161;
	opacity:0.6;*/
	text-align:center;
}

   /*
   body
    {
    background-color:white;
    
    }
    h1 {
        color: #e91e63;
        font-size: 4em;
        font-family: Arial;
    }
    h2{
        color: #e91e63;
        font-size: 2em;
    }
    p{
        color: #616161;
        font-size:1em;
    }
    ul{
        color: #616161;
    }
   
    #heather{
        float:top;
		width:100%;
		height:50px;
		top:0;
		left:0;
		position:absolute;
        background-color: #616161;

				
        
    }
    .heather_menu{
        display: inline-block;
        text-decoration:none;
        heght:40px;
		width:40px;
		color:#e91e63;       
    }
	table{    
	white-space: nowrap;
	table-layout:fixed;
	width:300px;
	}
	
    .heather_menu:hover{
        color:white;
    }
    #body_of_website{
	   width:100%;
	   position:relative;
	   top:50px;       
        
    }
	#twitter_button{
		position:relative;
		top:50px;
		}
	
  */
